{% extends "index.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<!-- File selector -->
<form class="form-group" action="http://localhost:8081/api/upload" method="POST" enctype="multipart/form-data">
    <div class="custom-file mt-3">
        <input type="file" class="custom-file-input" id="csvfile" name="csvfile">
        <label class="custom-file-label" for="customFile">Choose CSV file</label>
    </div>
    <button type="submit" class="btn btn-dark btn-block mt-2">Start</button>
</form>
{% endblock %}