<div class="jumbotron bg-dark m-4 p-5">
    <div class="h6">Graph Options for type {{type|upper}}</div>
    <form class="form-control bg-secondary p-3">
        <select class="form-control form-control-sm">
            <option>Option1.1</option>
            <option>Option1.2</option>
            <option>Option1.3</option>
        </select>
        <select class="form-control form-control-sm">
            <option>Option2.1</option>
            <option>Option2.2</option>
        </select>
        <button class="btn btn-dark btn-sm btn-block">Generate</button>
    </form>
</div>