.dataframe {
    height: 40vh;
    -ms-overflow-style: none;
}

.dataframe::-webkit-scrollbar {
    display: none;
}

select {
    -ms-overflow-style: none;
}

select::-webkit-scrollbar {
    display: none;
}

.dataframe th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(50, 56, 62);
    text-align: left;
}

#graphselector {
    display: none;
}

.selected {
    color: #28a745;
}

.toast {
    position: absolute;
    bottom: 60px;
    right: 0;
    z-index: 1050;
}